<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBUPlK5T9JvXRmTtXqWIlpEox_ESmwRiAM</string>
	<key>GCM_SENDER_ID</key>
	<string>497223059110</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.googleMap</string>
	<key>PROJECT_ID</key>
	<string>arrival-notification-2e6bb</string>
	<key>STORAGE_BUCKET</key>
	<string>arrival-notification-2e6bb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:497223059110:ios:6bf031eb923a01b9159667</string>
</dict>
</plist>